fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
pytest
httpx
pillow
nudenet
cloudinary
redis>=5
